<footer>
    <div class="footer-container">
        <% const year = new Date().getFullYear() %>
        <p>&copy; <%= year %> Best Dinner Recipes </p>
        <p>Made with ❤️ using Node.js & Express</p>
    </div>
</footer>
