<header>
    <nav>
        <div class="navbar">
            <div class="navbar-left">
                <h1>Best Dinner Recipe</h1>
            </div>
            <div class="navbar-right">
                <a href="/" class="btn-home">Home</a>
                <a href="/submit" class="btn-add-recipe"> Add recipe</a>
            </div>
        </div>
    </nav>
</header>
